table{
	background-color: white;
	text-align: left;
	
	width: 100%;
}

th, td{
	padding: 20px;
}

thead{

	background-color: #A93226;
	border-bottom: solid 5px #0F362D;
	color: white ;
}



/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 400px) {
    /* For tablets: */

    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    body{
        background-size:100% auto;
        size: 10px;
        background-image: url(../images/fondo.jpg);
      
    }
    
    #publicado{
        font-size:2.1vw
    }

    article {

        font-family: myPrimeraFuente;       
        background: #D5DBDB;
        border: 1px solid black;
        
        margin-bottom: 15px;
    }

    h3{
        font-size:2.4vw
    }
    p{
        font-size:2.3vw
    }

  }
  
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    #publicado{
        font-size:0.8vw
    }

    body{
        background-size:100% auto;
        size: 10px;
        background-image: url(../images/fondo.jpg);
    }
    h3{
        font-size:2.0vw
    }

    article {

        font-family: myPrimeraFuente;       
        background: #D5DBDB;
        border: 1px solid black;
        margin-left: 7%;
        margin-right: 5%;
        margin-bottom: 15px;
    }

    i{
        font-size: 250%;
    }
    p{
        font-size:1.2vw
    }
    
  }



#imgcenter{
    margin:10px auto;
    display:block;
}

#bajo{
    
    width:300px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:#A93226;

}







  .responsive {
    width: 100%;
    height: auto;
  }







h1{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bolder;
    
}

header h1{
    text-align: center; 
    font-family: mysegundaFuente;
    font-size: 60px;
    
}
p{
    margin: auto;
}

p , td, tr{
    font-family: myterceraFuente;
}

h2{
    font: bold 14px sans-serif;
}


body{
   text-align: center; 
}

.prueba{
    background-color: black; 
 }

.agrupar{

    
    border: 111px #A93226;
    margin: 5px auto;
    background: gray; 

}

.cabecera{
    background: #A93226; 
    border: 1px solid #999999;
    padding: 20px; 
}




i{
    margin:10px 30px color black;
}
 
.menu {
    background: #ccc;
    border: 1px solid #999999;
    padding: 5px 15 px;
    text-align: left;
}

h3{
    text-align: center;
}

.menu li{

    padding: 5px;
    font: bold 14px verdana;
    display: inline-block;
    
}





.seccion{

    margin: 30px;
    
    float: center;

}

.seccion h1, h2{  
    text-align: center;
}

a{
    color: black;
}

.pie{

    font-family: myPrimeraFuente;
    clear: both;
    
    background:#A93226;
    color: solid black;
}

img {
    width: 600px;
    margin: 20px auto;
}


@font-face{

    font-family: myPrimeraFuente;
    src: url(../fuentes/Vudotronic.otf);

}

@font-face{
    font-family: mysegundaFuente;
    src: url(../fuentes/skyridgbold.ttf);
}

@font-face{
    font-family: myterceraFuente;
    src: url(../fuentes/VerilySerifMono.otf);
}


